/*basic styles*/
html{
    font-size: 100%;
    line-height: 1.5rem;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    height: 100%;
  }
  
  body{
    margin: 0 auto;
    padding: 0 1rem 10rem 1rem;
    height: 100%;
    max-width: 1200px;
  }
  
*, *::before, *::after {
    box-sizing:inherit;
}

img{
    width: 100%;
    height: auto;
    display: block;
}

/*Begin NavBar Styles*/
  .header-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    overflow: hidden;
    margin-bottom: 0.5rem;
    background-color: aliceblue;
    font-family: 'Work Sans', sans-serif;
  }

  .logo,
  .nav-menu{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .nav-item {
    flex: 1 0 50%;
    text-align: center;
  }

  .logo a,
  .nav-menu a{
    display: block;
    text-decoration: none;
    letter-spacing: 0.2rem;
    padding: 0.8rem;
    color: black;
  }

  .logo a {
    font-weight: bold;
    font-size: 2rem;
  }

  .logo {
    margin: 0 auto;
  }

  .nav-menu a {
    letter-spacing: 0.1rem;
    border-bottom: 1px solid #fff;
    transition: all ease 0.2s;
  }

  .nav-menu a:hover {
    background-color: #fff;
    color: black;
    transform: none;
    border-bottom: 1px solid black;
    transition: all ease 0.2s;
  }

  .nav-menu a:active {
    transform: scale(0.9);
  }

/*Begin Navbar Media Queries for Larger Screen*/
@media (min-width: 600px) {
  .header-nav {
      line-height: 1.5rem;
  }
  .nav-menu {
      width: 100%;
  }
  .nav-item {
      flex: 1 0 10%;
  }
}

@media (min-width: 900px) {
  .header-nav {
      justify-content: space-between;
      padding: 1rem 0;
      margin: 1rem auto 2rem auto;
      line-height: 1rem;
  }
  .nav-item {
      white-space: nowrap;
  }
  .nav-menu {
      width: auto;
  }
  .logo {
      margin: 0 0 0 0.3rem;
  }
}

  /*Begin Theme Card Styles*/
  .cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: 'Work Sans', sans-serif;
    padding-top: 30px;
    overflow: hidden;
    position: relative;
}

.cards * {
    box-sizing: border-box;
}

.card__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-top: 2px solid #333333;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
}

.card__content {
    height: 100px;
    line-height: 1.5;
    font-size: 0.9em;
    text-align: center;
    padding: 15px;
    background: #fafafa;
    border-right: 2px solid #333333;
    border-left: 2px solid #333333;
    border-bottom: 2px solid #333333;
}

.card__content > h2:first-of-type {
    margin-top: 0;
}

.card__content > h2:last-of-type {
    margin-bottom: 0;
}



  /*Begin Grid Gallery Styles*/
  .gallery-page {
    padding: 0 1rem 10rem 1rem;
  }
  
  .grid-col-span-2{
    grid-column: span 2;
  }
  
  .grid-col-span-3{
    grid-column: span 3;
  }
  
  .grid-row-span-2{
    grid-row: span 2;
  }

  .gallery-img{
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
  }

  .gallery-img:hover {
    transform: scale(1.5);
  }
/*Don't Trust*/

.dt-gallery-columns {
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(7, 1fr);


  padding-block: .5rem;
  width: min(95%, 70rem);
  margin-inline: auto;
}


.dt-gallery-item {
  padding: .5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

/*Having to Fight*/
.hf-gallery-item:last-child{
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 2;
}
.hf-gallery-columns {
  display: grid;
  gap: .5;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 400px);
padding-block: .5rem;
width: min(95%, 70rem);
margin-inline: auto;
}


.hf-gallery-item {
  padding: .5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

@media (min-width: 50em) {
  

  .hf-gallery-columns{
    grid-template-columns: repeat(7, 1fr);
  }
  .hf-gallery-item:last-child{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
  }
  .grid-col-span-2{
    grid-column: span 2;
  }
  
  .grid-col-span-3{
    grid-column: span 3;
  }
  
  .grid-row-span-2{
    grid-row: span 2;
  }
}

@media (max-width: 700px){

  .hf-gallery-columns{
    grid-template-columns: 1fr;
  }

}


/*Teaching the Next Generation*/

.tng-gallery-columns {
display: grid;
gap: .5;

padding-block: .5rem;
width: min(95%, 70rem);
margin-inline: auto;
}

.tng-gallery-item {
  padding: .5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}


@media (min-width: 50em) {
  
  .tng-gallery-columns{
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-col-span-2{
    grid-column: span 2;
  }
  .grid-row-span-2{
    grid-row: span 2;
  }
}







